<!-- <div class="container">
{{selectUserDetails?.id}}
<br>
{{selectUserDetails?.title}}
<br>
{{selectUserDetails?.body}}

</div> -->

<div class="container py-5">
    <table  class="table table-striped table-bordered w-75">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">title</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td scope="row">{{selectUserDetails?.id}}</td>
            <td>{{selectUserDetails?.title}}</td>
            <td>{{selectUserDetails?.body}}</td>
          </tr>
        </tbody>
    </table>
</div>